@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-color-bg
    mx-auto w-full max-w-[1440px]
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 14px;
}
